flows.json
[
    {
        "id": "69f810edf0613f19",
        "type": "tab",
        "label": "test UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3c762493513ca18c",
        "type": "tab",
        "label": "tests",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c6d6ca58e3c5d43f",
        "type": "tab",
        "label": "test leds",
        "disabled": false,
        "info": ""
    },
    {
        "id": "82b69f1928d8428c",
        "type": "ui_group",
        "name": "analog",
        "tab": "5cf3fb3b7e7a726a",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cf3fb3b7e7a726a",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0351118cf22592bd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "78573051ec1192b9",
        "type": "ui_group",
        "name": "button",
        "tab": "5cf3fb3b7e7a726a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c070ecdb.6d5ce",
        "type": "ui_group",
        "z": "c6d6ca58e3c5d43f",
        "name": "Click",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "5"
    },
    {
        "id": "26332cb7.024dd4",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "28d6c95.1b4c936",
        "type": "ui_group",
        "name": "VALGUSTUS",
        "tab": "",
        "order": 10,
        "disp": false,
        "width": "9",
        "collapse": false
    },
    {
        "id": "a8a33e8515702bdd",
        "type": "ui_text",
        "z": "69f810edf0613f19",
        "group": "78573051ec1192b9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 360,
        "y": 1440,
        "wires": []
    },
    {
        "id": "1732459d521be0c5",
        "type": "debug",
        "z": "69f810edf0613f19",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1540,
        "wires": []
    },
    {
        "id": "9fc24f9fa45c2968",
        "type": "ui_gauge",
        "z": "69f810edf0613f19",
        "name": "",
        "group": "82b69f1928d8428c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 350,
        "y": 1660,
        "wires": []
    },
    {
        "id": "6c5e1cf49a169dbe",
        "type": "ui_slider",
        "z": "69f810edf0613f19",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "82b69f1928d8428c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 130,
        "y": 1600,
        "wires": [
            [
                "9fc24f9fa45c2968",
                "08cbd4378a8d77b8"
            ]
        ]
    },
    {
        "id": "08cbd4378a8d77b8",
        "type": "ui_chart",
        "z": "69f810edf0613f19",
        "name": "",
        "group": "78573051ec1192b9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "58ffae9d.a7005",
        "type": "debug",
        "z": "3c762493513ca18c",
        "name": "",
        "active": true,
        "complete": false,
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "17626462.e89d9c",
        "type": "inject",
        "z": "3c762493513ca18c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "2921667d.d6de9a"
            ]
        ]
    },
    {
        "id": "2921667d.d6de9a",
        "type": "function",
        "z": "3c762493513ca18c",
        "name": "Format timestamp",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "58ffae9d.a7005"
            ]
        ]
    },
    {
        "id": "e6db41e541e566f0",
        "type": "inject",
        "z": "3c762493513ca18c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "6ef05ccca55f8ecc",
                "4fd5a6f720bb05bc"
            ]
        ]
    },
    {
        "id": "6ef05ccca55f8ecc",
        "type": "http request",
        "z": "3c762493513ca18c",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "e1d72427b31d06a4"
            ]
        ]
    },
    {
        "id": "d5cb28033ca22d19",
        "type": "debug",
        "z": "3c762493513ca18c",
        "name": "NUMBER",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 280,
        "wires": []
    },
    {
        "id": "e1d72427b31d06a4",
        "type": "csv",
        "z": "3c762493513ca18c",
        "name": "info",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 660,
        "y": 360,
        "wires": [
            [
                "0f33452b2d9d7cb1"
            ]
        ]
    },
    {
        "id": "0f33452b2d9d7cb1",
        "type": "switch",
        "z": "3c762493513ca18c",
        "name": "test gap",
        "property": "payload.gap",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "38",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "37",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 380,
        "wires": [
            [
                "e06b5e468a13d130",
                "b63e09459e5f7704"
            ],
            []
        ]
    },
    {
        "id": "e06b5e468a13d130",
        "type": "function",
        "z": "3c762493513ca18c",
        "name": "",
        "func": "var count=flow.get(\"count\")||0;\ncount++;\nflow.set(\"count\",count);\nmsg.payload=count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 360,
        "wires": [
            [
                "d5cb28033ca22d19"
            ]
        ]
    },
    {
        "id": "4fd5a6f720bb05bc",
        "type": "function",
        "z": "3c762493513ca18c",
        "name": "",
        "func": "flow.set(\"count\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "66c05e7074f3da00",
        "type": "debug",
        "z": "3c762493513ca18c",
        "name": "GAP",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 420,
        "wires": []
    },
    {
        "id": "b63e09459e5f7704",
        "type": "function",
        "z": "3c762493513ca18c",
        "name": "Gap",
        "func": "msg.payload=msg.payload.gap;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 440,
        "wires": [
            [
                "66c05e7074f3da00"
            ]
        ]
    },
    {
        "id": "e36406f2.8ef798",
        "type": "inject",
        "z": "3c762493513ca18c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payloadType": "str",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "c3c50023.3bbed"
            ]
        ]
    },
    {
        "id": "c3c50023.3bbed",
        "type": "http request",
        "z": "3c762493513ca18c",
        "name": "Recent Quakes",
        "method": "GET",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "x": 340,
        "y": 480,
        "wires": [
            [
                "8afc6cac.e0812"
            ]
        ]
    },
    {
        "id": "8afc6cac.e0812",
        "type": "csv",
        "z": "3c762493513ca18c",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "44779781.4190f8",
                "6f0eb546.9e208c"
            ]
        ]
    },
    {
        "id": "44779781.4190f8",
        "type": "debug",
        "z": "3c762493513ca18c",
        "name": "",
        "active": true,
        "complete": false,
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "6f0eb546.9e208c",
        "type": "switch",
        "z": "3c762493513ca18c",
        "name": "",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 540,
        "wires": [
            [
                "d78d4aa8.8c8208"
            ]
        ]
    },
    {
        "id": "d78d4aa8.8c8208",
        "type": "change",
        "z": "3c762493513ca18c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 600,
        "wires": [
            [
                "72fddece.fac0d"
            ]
        ]
    },
    {
        "id": "72fddece.fac0d",
        "type": "debug",
        "z": "3c762493513ca18c",
        "name": "",
        "active": true,
        "complete": false,
        "x": 790,
        "y": 540,
        "wires": []
    },
    {
        "id": "fbc0b791.beb0b8",
        "type": "inject",
        "z": "c6d6ca58e3c5d43f",
        "name": "BUTTON NODE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "617bd3ee.854e0c"
            ]
        ]
    },
    {
        "id": "617bd3ee.854e0c",
        "type": "function",
        "z": "c6d6ca58e3c5d43f",
        "name": "",
        "func": "//  Modify the `false` and `true` to what works\nlet x = context.get(\"count\") || 0;\nif (x === 1)\n{\n    msg.payload = false;\n    msg.background='grey';\n} else\nif (x === 0)\n{\n    msg.payload = true;\n        msg.background='red';\n}\nx = (x + 1) % 2;\ncontext.set(\"count\",x);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 220,
        "wires": [
            [
                "8909dca0.245bf",
                "59a82a6dd964dbf7",
                "56163e1d274cd7f4"
            ]
        ]
    },
    {
        "id": "8909dca0.245bf",
        "type": "debug",
        "z": "c6d6ca58e3c5d43f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "56163e1d274cd7f4",
        "type": "ui_button",
        "z": "c6d6ca58e3c5d43f",
        "name": "",
        "group": "78573051ec1192b9",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LED1 - PA12",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "617bd3ee.854e0c"
            ]
        ]
    },
    {
        "id": "59a82a6dd964dbf7",
        "type": "opi_out",
        "z": "c6d6ca58e3c5d43f",
        "name": "Pin 3 - PA12",
        "set": false,
        "level": 0,
        "select": "M2p",
        "pin": "12",
        "enableLow": "",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "e2c82fc7c0f1702b",
        "type": "inject",
        "z": "c6d6ca58e3c5d43f",
        "name": "",
        "props": [
            {
                "p": "background",
                "v": "grey",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 60,
        "y": 320,
        "wires": [
            [
                "56163e1d274cd7f4"
            ]
        ]
    },
    {
        "id": "2e1ea8a86b3b8f18",
        "type": "ui_button",
        "z": "69f810edf0613f19",
        "name": "",
        "group": "78573051ec1192b9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Hello Wolrd",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "a8a33e8515702bdd",
                "1732459d521be0c5"
            ]
        ]
    },
    {
        "id": "9b0bbf4ca89753ee",
        "type": "inject",
        "z": "c6d6ca58e3c5d43f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 260,
        "y": 440,
        "wires": [
            [
                "27cac56798d2d089"
            ]
        ]
    },
    {
        "id": "27cac56798d2d089",
        "type": "debug",
        "z": "c6d6ca58e3c5d43f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 440,
        "wires": []
    }
]